@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.top {
    background-image: url('https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png');
    background-size: cover;
    height: 120vh;
    font-family: "Bree Serif";
    text-align: center;


}

.h {
    font-size: 25px;
}

.top-text {
    color: #ffffff;
    padding: 20px;
    font-family: "Bree Serif";
}

.cards {
    height: 30vh;
    width: 85vw;
    margin-left: 30px;
    margin-right: 30px;

}

.image {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png');
    background-size: cover;
    height: 35vh;
    color: #ffe7bf;
}


.button {
    border-radius: 20px;
    background-color: #8e97fd;
    color: #ffffff;
    width: 116px;
    margin: 10px;
}



.img1 {
    height: 40vh;
    width: 100vw;
}



#sectionConference {
    background-color: #03174c;
    background-size: cover;
}

.p {
    color: #98a1bd;
    font-family: "Bree Serif";
    padding: 20PX;
    margin-top: -40PX;
}


.p1 {
    color: white;
    font-family: "Bree Serif";
    padding: 20PX;
    margin-top: -40PX;
}

.img2 {
    padding: 20PX;
    margin-top: -40PX;
    height: 25vh;
    width: 45vw;
}

.p3 {
    margin-top: -50px;
}