@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.skils-container {
    padding: 20px;
}

.checked {
    color: green;
}

.heading {
    font-size: 28px;
    margin-bottom: 16px;

}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.checkbox-input {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-right: 12px;

}

.checkbox-label {
    font-size: 16px;
    font-weight: 400;
}