@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.top {
    background-color: #1b1b1b;
    background-size: cover;
    font-family: "Bree Serif";

}


.h {
    color: #ffffff;
    font-family: "Bree Serif";
    margin-left: 20px;

}

.topcard {
    background-color: #e6f6ff;
    height: 35vh;
    width: 90vw;
    margin-left: 20px;

    border-radius: 10px;


}

.img {
    height: 35vh;
    width: 30vw;

}

.cardtext {

    margin-left: 30px;
    color: white;
    font-size: 15px;
    font-family: "Bree Serif";
}


.size {
    margin-top: 15px;
}

.topcard1 {
    background-color: #e6f6ff;
    height: 35vh;
    width: 90vw;
    margin-left: 20px;

    border-radius: 10px;


}

.img {
    height: 35vh;
    width: 30vw;

}

.cardtext {

    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-family: "Bree Serif";
}


.size {
    margin-top: 15px;
}



.crad2 {

    height: 25vh;
    width: 90vw;
    margin-left: 20px;
    border-radius: 10px;
}

.img1 {
    height: 25vh;
    width: 25vw;
}


.card3 {
    margin-top: 10px;

    
}



.img3{
    height: 45vh;
    width: 50vw;
    margin-left: 70px;
    
}

.center{
    text-align: center;
}

.p2{
    margin-top: -20px;
    padding: 20px;
}

.button{
    margin-top: -40px;
    text-align: center;
    padding: 20px;
}