@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.bg-container5 {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');
    background-size: cover;
    height: 100vh;
}


.crads5 {
    background-color: #ffffff;
    padding:10px;
    border-top-left-radius: 10PX;
    border-top-right-radius: 10px;
}

.p5{
    color: #7b8794;
}


.h5{
    color: #323f4b;
}

.b5{
    color: #ffffff;
    background-color: #323f4b;
    border-radius:10px;
    height: 36px;
    width: 136px;
}